{% extends 'appanime/base.html' %}

{% block title %}Lista de Animes{% endblock %}

{% block content %}
    <h1 class="mb-4">Lista de Animes</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for anime in animes %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ anime.imagem_url }}" class="card-img-top" alt="{{ anime.titulo }}" style="height: 400px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ anime.titulo }}</h5>
                        <p class="card-text"><small class="text-muted">{{ anime.ano_lancamento }}</small></p>
                        <a href="{% url 'appanime:anime_detail' anime.pk %}" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p>Nenhum anime encontrado.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
